
# Tratando os dados

In [328]:
#importando as bibliotecas necessarias
import os
import pandas as pd

mostrando colunas para serem trabalhados

In [329]:
# assumindo que o csv esteja na mesma pasta local do arquivo.
df = pd.read_csv('hoteis.csv')

In [330]:
# nome das colunas
print(df.columns)

Index(['address', 'categories', 'city', 'country', 'latitude', 'longitude',
       'name', 'postalCode', 'province', 'reviews.date', 'reviews.dateAdded',
       'reviews.doRecommend', 'reviews.id', 'reviews.rating', 'reviews.text',
       'reviews.title', 'reviews.userCity', 'reviews.username',
       'reviews.userProvince'],
      dtype='object')

In [331]:
# numero de linhas e colunas
df.shape

(35912, 19)

In [332]:
df.head()

,address,categories,city,country,latitude,longitude,name,postalCode,province,reviews.date,reviews.dateAdded,reviews.doRecommend,reviews.id,reviews.rating,reviews.text,reviews.title,reviews.userCity,reviews.username,reviews.userProvince
0,Riviera San Nicol 11/a,Hotels,Mableton,US,45.421611,12.376187,Hotel Russo Palace,30126,GA,2013-09-22T00:00:00Z,2016-10-24T00:00:25Z,NaN,NaN,4.0,Pleasant 10 min walk along the sea front to th...,Good location away from the crouds,NaN,Russ (kent),NaN
1,Riviera San Nicol 11/a,Hotels,Mableton,US,45.421611,12.376187,Hotel Russo Palace,30126,GA,2015-04-03T00:00:00Z,2016-10-24T00:00:25Z,NaN,NaN,5.0,Really lovely hotel. Stayed on the very top fl...,Great hotel with Jacuzzi bath!,NaN,A Traveler,NaN
2,Riviera San Nicol 11/a,Hotels,Mableton,US,45.421611,12.376187,Hotel Russo Palace,30126,GA,2014-05-13T00:00:00Z,2016-10-24T00:00:25Z,NaN,NaN,5.0,Ett mycket bra hotell. Det som drog ner betyge...,Lugnt l��ge,NaN,Maud,NaN
3,Riviera San Nicol 11/a,Hotels,Mableton,US,45.421611,12.376187,Hotel Russo Palace,30126,GA,2013-10-27T00:00:00Z,2016-10-24T00:00:25Z,NaN,NaN,5.0,We stayed here for four nights in October. The...,Good location on the Lido.,NaN,Julie,NaN
4,Riviera San Nicol 11/a,Hotels,Mableton,US,45.421611,12.376187,Hotel Russo Palace,30126,GA,2015-03-05T00:00:00Z,2016-10-24T00:00:25Z,NaN,NaN,5.0,We stayed here for four nights in October. The...,������ ���������������,NaN,sungchul,NaN

###  informações.

In [333]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35912 entries, 0 to 35911
Data columns (total 19 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   address               35912 non-null  object
 1   categories            35912 non-null  object
 2   city                  35912 non-null  object
 3   country               35912 non-null  object
 4   latitude              35826 non-null  float64
 5   longitude             35826 non-null  float64
 6   name                  35912 non-null  object
 7   postalCode            35857 non-null  object
 8   province              35912 non-null  object
 9   reviews.date          35653 non-null  object
 10  reviews.dateAdded     35912 non-null  object
 11  reviews.doRecommend   0 non-null      float64
 12  reviews.id            0 non-null      float64
 13  reviews.rating        35050 non-null  float64
 14  reviews.text          35888 non-null  object
 15  reviews.title         34286 non-null  object
 16  reviews.userCity      16263 non-null  object
 17  reviews.username      35869 non-null  object
 18  reviews.userProvince  17518 non-null  object
dtypes: float64(5), object(14)
memory usage: 5.2+ MB

In [334]:
df.describe()

,latitude,longitude,reviews.doRecommend,reviews.id,reviews.rating
count,35826.000000,35826.000000,0.0,0.0,35050.000000
mean,37.285008,-85.725758,NaN,NaN,3.776431
std,6.996544,33.062263,NaN,NaN,1.416195
min,-25.436750,-166.559040,NaN,NaN,0.000000
25%,33.827340,-104.868200,NaN,NaN,3.000000
50%,37.936026,-86.822972,NaN,NaN,4.000000
75%,41.672491,-77.044550,NaN,NaN,5.000000
max,63.877674,115.164407,NaN,NaN,10.000000

In [335]:
# colunas e quantidades de nulos
df.isnull().sum()

address                     0
categories                  0
city                        0
country                     0
latitude                   86
longitude                  86
name                        0
postalCode                 55
province                    0
reviews.date              259
reviews.dateAdded           0
reviews.doRecommend     35912
reviews.id              35912
reviews.rating            862
reviews.text               24
reviews.title            1626
reviews.userCity        19649
reviews.username           43
reviews.userProvince    18394
dtype: int64

## Limpeza dos dados

Nesse projeto não iremos utilizar todas as colunas, então retirando e deixando o apenas essencial.

In [336]:
trash = ['latitude', 'longitude', 'reviews.userProvince', 'reviews.userCity', 'reviews.doRecommend', 'reviews.id','province']
df = df.drop(columns=trash)

In [337]:
# excluindo dados duplicados se existir.
df = df.drop_duplicates()

In [338]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 35905 entries, 0 to 35911
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   address            35905 non-null  object
 1   categories         35905 non-null  object
 2   city               35905 non-null  object
 3   country            35905 non-null  object
 4   name               35905 non-null  object
 5   postalCode         35850 non-null  object
 6   reviews.date       35646 non-null  object
 7   reviews.dateAdded  35905 non-null  object
 8   reviews.rating     35043 non-null  float64
 9   reviews.text       35881 non-null  object
 10  reviews.title      34279 non-null  object
 11  reviews.username   35862 non-null  object
dtypes: float64(1), object(11)
memory usage: 3.6+ MB

In [339]:
# mudando de object para datetime
df['reviews.date'] = pd.to_datetime(df['reviews.date'], errors='coerce')
df['reviews.dateAdded'] = pd.to_datetime(df['reviews.dateAdded'], errors='coerce')

In [340]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 35905 entries, 0 to 35911
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   address            35905 non-null  object
 1   categories         35905 non-null  object
 2   city               35905 non-null  object
 3   country            35905 non-null  object
 4   name               35905 non-null  object
 5   postalCode         35850 non-null  object
 6   reviews.date       35646 non-null  datetime64[ns, UTC]
 7   reviews.dateAdded  35905 non-null  datetime64[ns, UTC]
 8   reviews.rating     35043 non-null  float64
 9   reviews.text       35881 non-null  object
 10  reviews.title      34279 non-null  object
 11  reviews.username   35862 non-null  object
dtypes: datetime64[ns, UTC](2), float64(1), object(9)
memory usage: 3.6+ MB

In [341]:
df.isnull().sum()

address                 0
categories              0
city                    0
country                 0
name                    0
postalCode             55
reviews.date          259
reviews.dateAdded       0
reviews.rating        862
reviews.text           24
reviews.title        1626
reviews.username       43
dtype: int64

In [342]:
# Preencher valores numéricos ausentes com a média
df['reviews.rating'].fillna(df['reviews.rating'].mean(), inplace=True)

# Preencher valores categóricos ausentes com o valor mais comum
df['postalCode'].fillna(df['postalCode'].mode()[0], inplace=True)

# Remover linhas com dados ausentes
df.dropna(subset=['reviews.date', 'reviews.text'], inplace=True)

In [343]:
df.isnull().sum()

address                 0
categories              0
city                    0
country                 0
name                    0
postalCode              0
reviews.date            0
reviews.dateAdded       0
reviews.rating          0
reviews.text            0
reviews.title        1387
reviews.username       43
dtype: int64

In [344]:
# usuarios sem nome recebera Anonimo, para não termos valores nulo no nosso data
df['reviews.username'].fillna('Anônimo', inplace=True)
df['reviews.title'].fillna('No Title', inplace=True)

In [345]:
df.isnull().sum()

address              0
categories           0
city                 0
country              0
name                 0
postalCode           0
reviews.date         0
reviews.dateAdded    0
reviews.rating       0
reviews.text         0
reviews.title        0
reviews.username     0
dtype: int64

In [346]:
df['reviews.text'] = df['reviews.text'].str.lower()
df['reviews.title'] = df['reviews.title'].str.lower()

In [347]:
df

,address,categories,city,country,name,postalCode,reviews.date,reviews.dateAdded,reviews.rating,reviews.text,reviews.title,reviews.username
0,Riviera San Nicol 11/a,Hotels,Mableton,US,Hotel Russo Palace,30126,2013-09-22 00:00:00+00:00,2016-10-24 00:00:25+00:00,4.0,pleasant 10 min walk along the sea front to th...,good location away from the crouds,Russ (kent)
1,Riviera San Nicol 11/a,Hotels,Mableton,US,Hotel Russo Palace,30126,2015-04-03 00:00:00+00:00,2016-10-24 00:00:25+00:00,5.0,really lovely hotel. stayed on the very top fl...,great hotel with jacuzzi bath!,A Traveler
2,Riviera San Nicol 11/a,Hotels,Mableton,US,Hotel Russo Palace,30126,2014-05-13 00:00:00+00:00,2016-10-24 00:00:25+00:00,5.0,ett mycket bra hotell. det som drog ner betyge...,lugnt l��ge,Maud
3,Riviera San Nicol 11/a,Hotels,Mableton,US,Hotel Russo Palace,30126,2013-10-27 00:00:00+00:00,2016-10-24 00:00:25+00:00,5.0,we stayed here for four nights in october. the...,good location on the lido.,Julie
4,Riviera San Nicol 11/a,Hotels,Mableton,US,Hotel Russo Palace,30126,2015-03-05 00:00:00+00:00,2016-10-24 00:00:25+00:00,5.0,we stayed here for four nights in october. the...,������ ���������������,sungchul
...,...,...,...,...,...,...,...,...,...,...,...,...
35905,1088 Powdermill Rd,"Cabins,Resorts & Vacation Cottages,Wedding Cha...",Gatlinburg,US,Elk Springs Resort,37738,2016-07-06 00:00:00+00:00,2016-06-23 16:50:58+00:00,5.0,we truly enjoyed staying at the elk springs re...,we loved it!,randolphtiffany
35906,1088 Powdermill Rd,"Cabins,Resorts & Vacation Cottages,Wedding Cha...",Gatlinburg,US,Elk Springs Resort,37738,2016-05-02 00:00:00+00:00,2016-06-23 16:50:58+00:00,5.0,we were here for a 2nd time the last weekend o...,amazing time (both times!!),Sabrina P
35907,1088 Powdermill Rd,"Cabins,Resorts & Vacation Cottages,Wedding Cha...",Gatlinburg,US,Elk Springs Resort,37738,2012-03-20 00:00:00+00:00,2016-06-23 16:50:58+00:00,5.0,best of the best!!!! my family and i stayed in...,amazing time (both times!!),Chelsa K.
35908,1088 Powdermill Rd,"Cabins,Resorts & Vacation Cottages,Wedding Cha...",Gatlinburg,US,Elk Springs Resort,37738,2012-03-12 00:00:00+00:00,2016-06-23 16:50:58+00:00,5.0,amazing vacation in beautiful cabin we stayed ...,amazing time (both times!!),Heather D.
35909,1088 Powdermill Rd,"Cabins,Resorts & Vacation Cottages,Wedding Cha...",Gatlinburg,US,Elk Springs Resort,37738,2015-11-03 00:00:00+00:00,2016-06-23 16:50:58+00:00,5.0,my husband and i stayed at tree tops which is ...,amazing time (both times!!),Carol W.